<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head></head>
<body>
<div>
    <h2 th:text="${wrongPassword}"></h2>
</div>

<form method="post">
    <div class = "form-group">
        <label>Username:
            <input th:field="${user.userName}" class="form-control" th:value="${user}">
            <p class="error" th:errors="${user.userName}"></p>
        </label>
    </div>
    <div class = "form-group">
        <label>Password:
            <input th:field="${user.password}" type="password" class="form-control">
            <p class="error" th:errors="${user.password}"></p>
        </label>
    </div>
    <div class = "form-group">
        <label>Verify Password:
            <input th:field="${user.verify}" type="password" class="form-control">
            <p class="error" th:errors="${user.verify}"></p>
        </label>
    </div>
    <div class = "form-group">
        <label>Email:
            <input th:field="${user.email}" class="form-control" th:value="${email}">
            <p class="error" th:errors="${user.email}"></p>
        </label>
    </div>
    </div>

    <input type="submit" value="Register" class="">
</form>
</body>

</html>