<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<div id = "clientProfile">
    <h2>My Profile</h2>
    <p th:text="${name}"></p>
    <p th:text="${skintype}"></p>
    <p th:text="${manipedi}"></p>
</div>
<div id = "servicesMenu">
    <h2>Facial treatments</h2>
    <th:block>
        <table th:each="item : ${appropriateFacials}" th:text="${item}"></table>
    </th:block>

    <div th:if ="${manipedi == 'manicure'}">
        <h3>Manicure</h3>
        <p th:replace ="fragments :: manicureDescription"></p>
    </div>
    <div th:if = "${manipedi == 'pedicure'}">
        <h3>Pedicure</h3>
        <p th:replace ="fragments :: pedicureDescription"></p>
    </div>
    <div th:if = "${manipedi == 'both'}">
        <h3>Manicure & Pedicure</h3>
        <p th:replace = "fragments :: manicureDescription"></p>
        <p th:replace ="fragments :: pedicureDescription"></p>
    </div>
</div>
</body>
</html>